.Wrap {
  border: 2px solid rgb(78, 78, 78);
  width: 100%;
  height: 1450px;
}
.SubjectBar {
  border: 2px solid red;
  background-color: rgba(0, 255, 255, 0.5);
  width: 100%;
  height: 20%;
  display: flex;
  flex-wrap: wrap;
}

.subject {
  border: 2px solid red;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.auther {
  width: calc(100% / 3);
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.date {
  width: calc(100% / 3);
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.views {
  width: calc(100% / 3);
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Contnets {
  background-color: rgba(127, 255, 212, 0.5);
  width: 100%;
  height: 80%;
}
