.Wrap {
  height: 100%;
  width: 100%;
}

.WrapTitle {
  border: 2px solid red;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
}
.FunctionTap {
  border: 2px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
}
